body{
	padding-top:50px;
	margin:auto;
	background-image: url(http://www.planwallpaper.com/static/images/518079-background-hd.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#project div{
	height:200px;
	width:200px;
	display:inline-block;
	border-radius: 30%;
	border:1px solid black;
	margin:5px;
	padding:0px;
}
*{ 
	font-size:20px;
	text-shadow: 2px 2px #000000;
	color:white;
	text-align:center;
}
h4{
	margin-top:-5px;
}
#project{
	width:865px;
	
	margin:auto;
}
div a img {
	height:200px;
	width:200px;
}
img {
	border-radius: 30%;
}